<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    
    <bindings>
      <wsHttpBinding>
        <!-- Configure binding to use message mode security -->
        <binding maxReceivedMessageSize="10000"   name="SecureBinding">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>


    
    
    <services>
      <service name="ETicketService.ETicketServiceClass"  behaviorConfiguration="ETicketServiceBehavior">

      

        <endpoint address="ETicketService" binding="wsHttpBinding" bindingConfiguration="SecureBinding"  contract="ETicketService.IEventService">
        </endpoint>                                                
                                                                   
                                                                   
        <endpoint address="ETicketService" binding="wsHttpBinding" bindingConfiguration="SecureBinding" contract="ETicketService.IAdminService">
        </endpoint>                                                
                                                                   
                                                                   
                                                                   
        <endpoint address="ETicketService" binding="wsHttpBinding" bindingConfiguration="SecureBinding" contract="ETicketService.ISeatService">
        </endpoint>                                                
                                                                   
                                                                   
        <endpoint address="ETicketService" binding="wsHttpBinding" bindingConfiguration="SecureBinding" contract="ETicketService.IOrderService">
        </endpoint>                                                
                                                                   
                                                                   
        <endpoint address="ETicketService" binding="wsHttpBinding" bindingConfiguration="SecureBinding" contract="ETicketService.ITicketService">
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="ETicketServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="ETicketServiceHost.UserValidator, ETicketServiceHost" />
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="Kraka" connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaa0917_1067395;Persist Security Info=True;User ID=dmaa0917_1067395;Password=Password1!"/>
  </connectionStrings>
</configuration>