<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>

    <add name="ETicketDb" connectionString="Data Source=LAPTOP-4RRJF0O0\SQLEXPRESS;Initial Catalog=ETicket;Integrated Security=True"/>
    <add name="Kraka" connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaa0917_1067395;Persist Security Info=True;User ID=dmaa0917_1067395;Password=Password1!"/>
  </connectionStrings>
</configuration>